<head>
	<meta charset="utf-8" />
	<title>Supermusic</title>
	<base href=http://www.supermusic.cz/skupina.php target="_blank">
	<style>a { display: block; }</style>
</head>


<h3>Dan Bárta</h3>
<a href=?idpiesne=64469>On My Head</a>

<h3>Blue Effect</h3>
<a href=?idpiesne=327114>Sluneční hrob</a>

<h3>Adéla Bohadlo</h3>
<a href=https://www.velkyzpevnik.cz/jonasova-bohadlova-adela/salsa>Salsa</a>

<h3>Buty</h3>
<a href=?idpiesne=442>Demáček</a>
<a href=?idpiesne=435538>Do Ruska</a>
<a href=?idpiesne=4>František</a>
<a href=?idpiesne=443>Jednou ráno</a>
<a href=?idpiesne=12>Krtek</a>
<a href=?idpiesne=62470&modulacia=-2>Mám jednu ruku dlouhou</a>
<a href=?idpiesne=1290>Nad stádem koní</a>
<a href=?idpiesne=922>Tata</a>
<a href=?idpiesne=345107>Žeróm</a>

<h3>Chinaski</h3>
<a href=?idpiesne=597528&modulacia=1>1970</a>
<a href=?idpiesne=764162&modulacia=-1>Klára</a>
<a href=?idpiesne=7964&modulacia=-1>Punčocháče</a>

<h3>Civilní obrana</h3>
<a href=https://www.velkyzpevnik.cz/civilni-obrana/to-dokaze-chlap>To dokáže chlap</a>

<h3>Divokej Bill</h3>
<a href=?idpiesne=163584>Čmelák</a>
<a href=?https://pisnicky-akordy.cz/divokej-bill/jaro>Jaro</a>
<a href=?idpiesne=16265>Malování</a>
<a href=?idpiesne=3313>Plakala</a>

<h3>Lucie Bílá</h3>
<a href=?idpiesne=520&modulacia=-5>Láska je laska</a>

<h3>Bratři Ebenové</h3>
<a href=?idpiesne=326002>Folkloreček</a>

<h3>Elán</h3>
<a href=?idpiesne=264&modulacia=-5>Kočka</a>
<a href=?idpiesne=845817>Neviem byť sám</a>

<h3>Ewa Farna</h3> 
<a href=?idpiesne=1064923>Dobré ráno, milá</a>
<a href=?idpiesne=127210>Měls mě vůbec rád</a>

<h3>Pavlína Filipovská</h3>
<a href=?idpiesne=4755>Nej, nej, nej</a>

<h3>filmová hudba</h3>
<a href=?idpiesne=28>Do věží</a>
<a href=?idpiesne=178639>Falling Slowly (Once)</a>
<a href=?idpiesne=6321&modulacia=2>Hajný je lesa pán</a>
<a href=?idpiesne=165990>Královské regae</a>
<a href=?idpiesne=434&modulacia=-4>Lásko má, já stůňu</a>
<a href=?idpiesne=346046>Nes mě, loďko</a>
<a href=?idpiesne=135093>Pramen zdraví z posázaví</a>
<a href=?idpiesne=2879>Princezna ze mlejna</a>
<a href=?idpiesne=34>Saxana</a>
<a href=?idpiesne=4710>Slza z tváře padá</a>
<a href=?idpiesne=431340>Svítí slunce nad hlavou</a>
<a href=?idpiesne=5027>Tak abyste to věděla</a>
<a href=?idpiesne=3782>Znám jednu starou zahradu</a>

<h3>Pavol Habera</h3>
<a href=?idpiesne=2821&modulacia=-2>Boli sme raz milovaní</a>

<h3>Horkýže Slíže</h3>
<a href=?idpiesne=64227>A ja sprostá</a>
<a href=?idpiesne=11855>Brďokoky</a>
<a href=?idpiesne=142891>Emanuel Bacigala</a>
<a href=?idpiesne=145090>Já žeru kvítí</a>
<a href=?idpiesne=10140>L. A. G. song</a>

<h3>Karel Hála</h3>
<a href=?idpiesne=4470>Hádej, Matyldo</a>

<h3>Hana Hegerová</h3>
<a href=?idpiesne=737703&modulacia=4>Čerešne</a>

<h3>Michal Horák</h3>
<a href="https://www.yousongs.cz/pisen/11903-Horak-Michal-Prsa.aspx">Prsa</a>

<h3>Michal Hrůza</h3>
<a href=?idpiesne=154140>Bílá Velryba</a>
<a href=?idpiesne=764610>Zakázané Uvolnění</a>

<h3>Jaroslav Hutka</h3>
<a href=?idpiesne=7465>Náměšť</a>

<h3>Inekafe</h3>
<a href=?idpiesne=179310>Spomienky na budúcnosť</a>

<h3>Jelen</h3>
<a href=?idpiesne=806067>Co Bylo Dál?</a><br>

<h3>Ježek, Voskovec, Werich</h3>
<a href=?idpiesne=61838>Klobouk ve křoví</a>
<a href=?idpiesne=4480>Svět patří nám</a>

<h3>Petr Kalandra</h3>
<a href=?idpiesne=2828>Špitál u svatého Jakuba</a>

<h3>Kabát</h3>
<a href=?idpiesne=1106>Balada o špinavejch fuseklích</a>
<a href=?idpiesne=383908>Bára</a>
<a href=?idpiesne=1330>Colorado</a>
<a href=?idpiesne=475727>Frau Vogelrauch</a>
<a href=?idpiesne=54098>Kalamity Jane</a>
<a href=?idpiesne=5010>Kanibal Hanibal</a>
<a href=?idpiesne=77938>Láďa</a>
<a href=?idpiesne=1335>Moderní devče</a>
<a href=?idpiesne=5045>Mravenci</a>
<a href=?idpiesne=3473>Na sever</a>
<a href=?idpiesne=482757>Nimrod Fábera</a>
<a href=?idpiesne=3515>Ohroženej druh</a>
<a href=?idpiesne=9121>Opilci v dějinách</a>
<a href=?idpiesne=1336>Piju já piju rád</a>
<a href=?idpiesne=7234>Pohoda</a>
<a href=?idpiesne=47777>Starej bar</a>
<a href=?idpiesne=56347&modulacia=-4>V pekle sudy válej</a>

<h3>Petr Kolář</h3>
<a href=?idpiesne=673208>Vyznání</a>

<h3>Jana Kratochvílová</h3>
<a href=?idpiesne=565>V stínu kapradiny</a>

<h3>Karel Kryl</h3>
<a href=?idpiesne=106457>Anděl</a>
<a href=?idpiesne=178300>Bratříčku zavírej vrátka</a>
<a href=?idpiesne=3331>Číslo na zápěstí</a>
<a href=?idpiesne=1200>Děkuji</a>
<a href=?idpiesne=1776>Karavana mraků</a>
<a href=?idpiesne=13175>Lilie (originál)</a>
<a href=?idpiesne=1201>Lásko</a>
<a href=?idpiesne=97577>Morituri te salutant</a>
<a href=?idpiesne=2470>Vasil</a>
<a href=?idpiesne=573&modulacia=-7>Veličenstvo kat</a>

<h3>Daniel Landa</h3>
<a href=?idpiesne=947>Pozdrav z fronty</a>
<a href=?idpiesne=7080&modulacia=-5>Šance</a>

<h3>Aneta Langerová</h3>
<a href=?idpiesne=60937>Voda živá</a>

<h3>lidové</h3>
<a href=https://pisnicky-akordy.cz/lidove-pisne/laska-boze-laska>Láska, bože, láska</a>
<a href=https://www.velkyzpevnik.cz/lidovky/prsi-prsi-len-sa-leje?tune=C&new_tune=G&chordtype=kytara>Prší, prší len sa leje</a>

<h3>Lucie</h3>
<a href=?idpiesne=455390>Amerika</a>
<a href=?idpiesne=928347>Černí andělé</a> 
<a href=?idpiesne=9743>Daniela</a>
<a href=?idpiesne=44>Medvídek</a>
<a href=?idpiesne=1266146 >Nejlepší, kterou znám</a>
<a href=?idpiesne=3272>Ona ví</a>
<a href=?idpiesne=666>Panic</a>
<a href=?idpiesne=45>Sen</a>
<a href=?idpiesne=9750>Vona říká jó</a>
<a href=https://czhity.tiscali.cz/pisne/troubit-na-trumpety-by-se-nam-libilo-765/>Troubit na trumpety by se nám líbilo</a>

<h3>Waldemar Matuška</h3> 
<a href=?idpiesne=5211>Píseň pro Kristýnku</a>
<a href=?idpiesne=986&modulacia=-1>Tereza</a>

<h3>Mig 21</h3>
<a href=?idpiesne=889704>Kalhotky si sundej</a>
<a href=?idpiesne=1136596>Petra a Gábina</a>
<a href=?idpiesne=5805>Slepic pírka</a>
<a href=?idpiesne=4878>Snadné je žít</a>
<a href=?idpiesne=15423>Tančili čile</a>
<a href=?idpiesne=64426>Vlajky vlají</a>

<h3>Mňága a Žďorp</h3>
<a href=?idpiesne=51>Hodinový hotel</a>
<a href=?idpiesne=3991>I cesta může být cíl</a>
<a href=?idpiesne=55>Ne teď ne!</a>
<a href=?idpiesne=4067>Nejlíp jim bylo</a>
<a href=?idpiesne=2773>Spaste svoje duše</a>

<h3>Ivan Mládek</h3>
<a href=?idpiesne=5649>Brno je zlatá loď</a>
<a href=?idpiesne=4097&modulacia=-2>Dáša Nováková</a>
<a href=?idpiesne=2244>Hlásná Třebáň</a>
<a href=?idpiesne=149296>Jahody trhala</a>
<a href=?idpiesne=1161>Jez</a>
<a href=?idpiesne=724>Jóžin z bážin</a>
<a href=?idpiesne=47528>Když je v Praze hic</a>
<a href=?idpiesne=199522>Kousavá deka</a>
<a href=?idpiesne=5651>Linda</a>
<a href=?idpiesne=57269>Mravenci v kredenci</a>
<a href=?idpiesne=149188>Nejkrásnější období je podzim</a>
<a href=?idpiesne=43841>Rychlík jede do Prahy</a>
<a href=?idpiesne=47636>Sousedovic Toníček</a>
<a href=?idpiesne=5539>Zkratky</a>
<a href=https://pisnicky-akordy.cz/ivan-mladek/zaba-puk>Žába puk</a>

<h3>Jitka Molavcová</h3>
<a href=?idpiesne=952851&modulacia=-3>Holčička s kytarou</a>

<h3>Vladimír Myšík</h3>
<a href=?idpiesne=818594>Variace na renesanční téma</a>

<h3>Zuzana Navarová</h3>
<a href=?idpiesne=9649>Andělská</a>
<a href=?idpiesne=49800>Orlice</a>

<h3>Václav Neckář</h3>
<a href=?idpiesne=96933&modulacia=-4>Podej mi ruku a projdem Václavák</a>
<a href=https://akordy.kytary.cz/song/tu-kytaru-jsem-koupil-kvuli-tobe>Tu kytaru jsem koupil kvůli tobě</a>

<h3>Nerez</h3>
<a href=?idpiesne=1262>Deštíček</a>
<a href=?idpiesne=350355>Javor</a>
<a href=?idpiesne=679>Já s tebou žít nebudu</a>
<a href=?idpiesne=119800>Kolovratek</a>
<a href=?idpiesne=682>Kytička</a>

<h3>No Name</h3>
<a href=?idpiesne=88816&modulacia=-3>Čím to je</a>

<h3>Jaromír Nohavica</h3>
<a href=?idpiesne=950>Afričančata</a>
<a href=?idpiesne=456047>Až to se mnu sekne</a>
<a href=?idpiesne=951>Až to se mnu sekne</a>
<a href=?idpiesne=1920>Cukrářská bossa-nova</a>
<a href=?idpiesne=1650>Darmoděj</a>
<a href=?idpiesne=2567>Děvenka štěstí a mládenec žal</a>
<a href=?idpiesne=136790>Divoké koně (správně od Emi)</a>
<a href=?idpiesne=1926>Divoké koně</a>
<a href=?idpiesne=103>Dokud se zpívá ještě se neumřelo</a>
<a href=?idpiesne=2926>Grónská písnička</a>
<a href=?idpiesne=2563>Jacek</a>
<a href=?idpiesne=108>Jdou po mě jdou</a>
<a href=?idpiesne=1667>Když mě brali za vojáka</a>
<a href=?idpiesne=47613>Kometa</a>
<a href=?idpiesne=827>Lachtani</a>
<a href=?idpiesne=180169>Mám jizvu na rtu</a>
<a href=?idpiesne=952>Metro pro krtky</a>
<a href=?idpiesne=113>Mikymauz</a>
<a href=?idpiesne=46398>Milionář</a>
<a href=?idpiesne=508>Myš na konci léta</a>
<a href=?idpiesne=849>Můj pes</a>
<a href=?idpiesne=205820>Noe</a>
<a href=?idpiesne=44707>Ostravo, Ostravo 2</a>
<a href=?idpiesne=830>Petěrburg</a>
<a href=?idpiesne=575>Pijte vodu</a>
<a href=?idpiesne=2657>Pochod marodů</a>
<a href=?idpiesne=1693>Přítel</a>
<a href=?idpiesne=1785>Setkání s A. S. Puškinem</a>
<a href=?idpiesne=874>Starý muž</a>
<a href=?idpiesne=1620>Šnečí blues</a>
<a href=?idpiesne=585949>Telegram</a>
<a href=?idpiesne=638677>Tramp</a>
<a href=?idpiesne=687>Těšínská</a>
<a href=?idpiesne=1708>Tři čuníci</a>
<a href=?idpiesne=592320>U nas na severu</a>
<a href=?idpiesne=1711>Ukolébavka</a>
<a href=?idpiesne=2565>V hospodě Na rynku</a>
<a href=?idpiesne=107>V jedným důmku na Zarůbku</a>
<a href=?idpiesne=941>V moři je místa dost</a>
<a href=?idpiesne=128>Vlaštovko leť</a>
<a href=?idpiesne=129>Zatímco se koupeš</a>
<a href=?idpiesne=585945>Zlo sedí v rohu pokoje</a>
<a href=?idpiesne=114763>Zítra ráno v pět</a>

<h3>Olympic</h3>
<a href=?idpiesne=468&modulacia=+3>Slzy tvý mámy</a>

<h3>Pacifik</h3>
<a href=?idpiesne=6717>Velrybářská výprava</a>

<h3>Priessnitz</h3>
<a href=?idpiesne=2097>Ave Maria</a>
<a href=?idpiesne=2098>Děláže</a>

<h3>Karel Plíhal</h3>
<a href=?idpiesne=1769>Akordy</a>
<a href=?idpiesne=1590>Amnestie</a>
<a href=?idpiesne=133>Černá díra</a>
<a href=?idpiesne=53273>Diga diga do</a>
<a href=?idpiesne=109263>Dvě spálený srdce (Nagasaki, Hirošima)</a>
<a href=?idpiesne=137>Děvče mi usnulo</a>
<a href=?idpiesne=140>Hrací strojek</a>
<a href=?idpiesne=143>Jaro</a>
<a href=?idpiesne=145>Kluziště</a>
<a href=?idpiesne=5708&modulacia=+2>Levitační</a>
<a href=?idpiesne=13019&modulacia=-2>Morseovka</a>
<a href=?idpiesne=149>Mám príma den</a>
<a href=?idpiesne=2954>Myš</a>
<a href=?idpiesne=156>Námořnická</a>
<a href=?idpiesne=167>Podivná kometa</a>
<a href=?idpiesne=171>Provazochodecká</a>
<a href=?idpiesne=507741>Ráda se miluje</a>
<a href=?idpiesne=68940>Sedávám na domovních schodech</a>
<a href=?idpiesne=13080>Ve skříni</a>
<a href=?idpiesne=187&modulacia=-7>Vstávej holka</a>
<a href=?idpiesne=183>Vánoční píseň</a>
<a href=http://www.agama2000.com/qlkh4w8hjrndnd4q8xabcefgjmnoq/Karel%20Pl%C3%ADhal/xdhebszoe4jnmj9mtxcdgjmnoq/Vosa>Vosa</a>
<a href=?idpiesne=3092>Zahradnická</a>
<a href=?idpiesne=191>Země je deska</a>

<h3>Pokáč</h3>
<a href=https://pisnicky-akordy.cz/pokac/v-lese>V lese</a>
<a href=https://supermusic.cz/skupina.php?idpiesne=980142>Mám doma kočku</a>
<a href=https://akordy.kytary.cz/song/mam-rymu>Mám rýmu</a>

<h3>Michal Prokop</h3>
<a href=?idpiesne=1758>Blues o spolykaných slovech</a>
<a href=?idpiesne=56467>Bitva o Karlův most</a>

<h3>Viera Racková</h3>
<a href=?idpiesne=151116&modulacia=6>Lavička v jasmínu</a>

<h3>Radůza</h3>
<a href=?idpiesne=353943>Jako zázrakem spíš</a>
<a href=?idpiesne=1501631>Kde nebe si kleká</a>

<h3>Ready Kirken</h3>
<a href=?idpiesne=4903>Zejtra mám</a>
<a href=?idpiesne=363954&modulacia=5>1+1</a>

<h3>Marie Rottrová</h3>
<a href=?idpiesne=2782>Lásko voníš deštěm</a>

<h3>Rybičky 48</h3> 
<a href=?idpiesne=974192>Chtěl jsem tím říct</a>
<a href=?idpiesne=890784>Slibuju že nebudu pít</a>
<a href=?idpiesne=345539>Zamilovaný/Nešťastná</a>

<h3>Miky Ryvola</h3>
<a href=https://pisnicky-akordy.cz/miki-ryvola/zari>Září</a>

<h3>Jiří Schellinger</h3>
<a href=?idpiesne=796>Jsem prý blázen jen</a>
<a href=?idpiesne=212>Šípková Ruženka</a>

<h3>David Stypka</h3>
<a href=?idpiesne=968017>Jericho</a>
<a href=?idpiesne=1323827>Kříž</a>
<a href=?idpiesne=1383202>Loučit</a>

<h3>Jiří Suchý, Jiří Šlitr</h3>
<a href=?idpiesne=5417>Kočka na okně</a>
<a href=?idpiesne=174839>Marnivá sestřenice</a>
<a href=?idpiesne=4640>Sluníčko</a>

<h3>Satelit Kanibal</h3>
<a href=?idpiesne=145165>Šťastnej jako blecha</a>

<h3>Spirituál Kvintet</h3>
<a href=?idpiesne=1593>Batalion</a>
<a href=?idpiesne=3075>Pískající cikán</a>
<a href=?idpiesne=2403>Ryl jen, celej den ryl</a>
<a href=?idpiesne=3073>Růžička</a>
<a href=?idpiesne=3071>Širý proud</a>
<a href=?idpiesne=2293>Žízeň</a>

<h3>Sto Zvířat</h3>
<a href=?idskupiny=894&idpiesne=787009>Alice se dala na pití</a>
<a href=?idpiesne=1384713>Dvacet pět!</a>
<a href=?idpiesne=86593>Nikdy nic nebylo</a>
<a href=?idpiesne=379895>Pohádka</a>
<a href=?idpiesne=167382&modulacia=-2>Škola</a>

<h3>David Stypka</h3>
<a href=?idpiesne=1323827>Kříž</a>

<h3>Jiří Suchý</h3>
<a href=?idpiesne=4640&modulacia=-6>Sluníčko</a>

<h3>Těžkej pokondr</h3>
<a href=?idpiesne=843>Felicie</a>
<a href=?idpiesne=45059>Pejzy</a>

<h3>Vltava</h3>
<a href=?idpiesne=9673>Marx, Engels, Beatles</a>

<h3>Wohnout</h3>
<a href=?idpiesne=611520>Svaz českých bohemů</a>

<h3>Yvonne Přenosilová</h3>
<a href=?idpiesne=2910>Boty proti lásce</a>

<h3>Žalman</h3>
<a href=?idpiesne=339048>Až mně bude</a>
<a href=?idpiesne=4175>Až se někdy</a>
<a href=?idpiesne=1506>Darebná</a>
<a href=?idpiesne=1618>Jantarová země</a>
<a href=?idpiesne=2066>Rána v trávě</a>
<a href=?idpiesne=47290>Tři přání</a>
